%section.content.text-left.light
  .container
    %br
    %br
    = form_for @user do |f|
      = f.label :zip_code
      = f.text_field :zip

      %br
      = f.label :street_address
      = f.text_field :street_address

      %br
      = f.submit "Update"
