.container
  .row
    %h3
      Hi
      = "#{@user.name}, here are the best #{@user.user_type == 'Student' ? 'supervisors' : 'students'} for you:"
  .row
    .col-sm-12
      %table
        %th Rating for you (currently random)
        %th Name
        - if @user.user_type == "Student"
          = render partial: 'users/supervisor', collection: @supers, as: :supervisor
        - else
          = render partial: 'users/student', collection: @students