<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Therapitize" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Therapitize" %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="wrap">
      <%= render 'layouts/header' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= javascript_include_tag 'application'%>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
